In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pickle
with open('nation.pkl','rb') as pkldfile :
    ndf=pickle.load(pkldfile)

In [3]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178598026 entries, 0 to 178598025
Data columns (total 3 columns):
BUYER_COUNTY        category
TRANSACTION_DATE    category
DOSAGE_UNIT         float32
dtypes: category(2), float32(1)
memory usage: 1.2 GB

In [4]:
ndf.describe()

        DOSAGE_UNIT
count  1.785979e+08
mean   1.908459e+02
std    1.348693e+03
min    6.000000e-05
25%    1.000000e+02
50%    2.000000e+02
75%    5.000000e+02
max    3.115000e+06

In [6]:
ndf.isna().sum()

BUYER_COUNTY        2057
TRANSACTION_DATE       0
DOSAGE_UNIT           77
dtype: int64

In [7]:
ndf.TRANSACTION_DATE.describe()

count     178598026
unique            7
top            2011
freq       28658718
Name: TRANSACTION_DATE, dtype: int64

In [9]:
list(ndf.TRANSACTION_DATE.cat.categories)

[2006, 2007, 2008, 2009, 2010, 2011, 2012]

In [12]:
ndf.shape

(178598026, 3)

In [14]:
ndf[ndf.TRANSACTION_DATE == ndf.TRANSACTION_DATE.cat.categories[0] ].shape

(20918026, 3)

In [16]:
pivot4years={}

for cat in ndf.TRANSACTION_DATE.cat.categories:
    temp=ndf[ndf.TRANSACTION_DATE == cat ]
    pivot4years[str(cat)]=temp.pivot_table(values='DOSAGE_UNIT',aggfunc=np.sum,index=temp.BUYER_COUNTY,columns=temp.TRANSACTION_DATE ,fill_value=0)

In [20]:
pivot4years.values()

dict_values([TRANSACTION_DATE       2006
BUYER_COUNTY
ADDISON            767400.0
AGUADA              49200.0
AGUADILLA          192200.0
AGUAS BUENAS        28500.0
ALACHUA           7333056.0
...                     ...
NORTHWEST ARCTIC     1920.0
RALLS                1500.0
EUREKA                100.0
REAL                  100.0
ALEUTIANS EAST        300.0

[1845 rows x 1 columns], TRANSACTION_DATE     2007
BUYER_COUNTY
ADDISON            844900
AGUADA              49500
AGUADILLA          184800
AGUAS BUENAS        29400
ALACHUA           8139364
...                   ...
JUDITH BASIN          100
DENALI               3500
NORTHWEST ARCTIC      240
EUREKA                100
ALEUTIANS EAST        100

[1839 rows x 1 columns], TRANSACTION_DATE       2008
BUYER_COUNTY
ADDISON            856050.0
AGUADA              38300.0
AGUADILLA          163000.0
AGUAS BUENAS        28700.0
ALACHUA           9100379.0
...                     ...
CORSON                 30.0
JUDITH BASIN          100.0
CATRON                200.0
NORTHWEST ARCTIC      240.0
EUREKA                100.0

[1837 rows x 1 columns], TRANSACTION_DATE        2009
BUYER_COUNTY
ADDISON             915270.0
AGUADA               42500.0
AGUADILLA           195130.0
AGUAS BUENAS         19200.0
ALACHUA           10139373.0
...                      ...
NOME                   300.0
SAGUACHE              1700.0
STERLING                30.0
JUDITH BASIN           200.0
CATRON                 400.0

[1840 rows x 1 columns], TRANSACTION_DATE        2010
BUYER_COUNTY
ADDISON             868380.0
AGUADA               50200.0
AGUADILLA           254490.0
AGUAS BUENAS         25600.0
ALACHUA           10072070.0
...                      ...
NORTH SLOPE           1100.0
NOME                   400.0
SAGUACHE               600.0
JUDITH BASIN           400.0
REAL                   100.0

[1837 rows x 1 columns], TRANSACTION_DATE     2011
BUYER_COUNTY
ADDISON            827640
AGUADA              53730
AGUADILLA          257380
AGUAS BUENAS        25360
ALACHUA           9909269
...                   ...
NORTH SLOPE          1024
THROCKMORTON           40
SAGUACHE              500
JUDITH BASIN          200
WABAUNSEE             100

[1840 rows x 1 columns], TRANSACTION_DATE       2012
BUYER_COUNTY
ADDISON            753100.0
AGUADA              46690.0
AGUADILLA          239100.0
AGUAS BUENAS        27800.0
ALACHUA           8914630.0
...                     ...
SAGUACHE              700.0
SCHLEICHER             20.0
JUDITH BASIN          200.0
DENALI               1000.0
WABAUNSEE             300.0

[1845 rows x 1 columns]])

In [21]:
import pickle
pickle.dump(pivot4years, open( "pivot4years.pkl", "wb" ) )