In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%m%d%Y')

In [21]:
cols=['TRANSACTION_DATE','DOSAGE_UNIT','BUYER_COUNTY']
coldtypes={ 'DOSAGE_UNIT':np.float32 , 'BUYER_COUNTY':'category' }

change2year=lambda x : int(x[-4:])

In [7]:
np.finfo(np.float32)

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [20]:
%%timeit
tempdf=pd.read_csv('../prescription/arcos-ma-suffolk-25025-itemized.tsv',sep='\t', 
                   usecols= cols , dtype=coldtypes , converters={ 'TRANSACTION_DATE':change2year } )

789 ms ± 38.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
tempdf.head()

  BUYER_COUNTY  TRANSACTION_DATE  DOSAGE_UNIT
0      SUFFOLK              2009        200.0
1      SUFFOLK              2007        100.0
2      SUFFOLK              2006        200.0
3      SUFFOLK              2006        500.0
4      SUFFOLK              2007        200.0

In [16]:
tempdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
BUYER_COUNTY        10000 non-null category
TRANSACTION_DATE    10000 non-null int64
DOSAGE_UNIT         10000 non-null float32
dtypes: category(1), float32(1), int64(1)
memory usage: 127.1 KB

In [28]:
#%%timeit
nationdf=pd.read_csv('../prescription/arcos_all_washpost.tsv.gz' , sep='\t', compression='gzip',
                   usecols= cols,  dtype=coldtypes , nrows=10000 ,converters={ 'TRANSACTION_DATE':change2year } )

In [29]:
#%%timeit
nationdfall=pd.read_csv('../prescription/arcos_all_washpost.tsv' , sep='\t', 
                   usecols= cols,  dtype=coldtypes , nrows=10000 ,converters={ 'TRANSACTION_DATE':change2year } )

In [30]:
nationdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
BUYER_COUNTY        9998 non-null category
TRANSACTION_DATE    10000 non-null int64
DOSAGE_UNIT         10000 non-null float32
dtypes: category(1), float32(1), int64(1)
memory usage: 149.6 KB

In [31]:
nationdfall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
BUYER_COUNTY        9998 non-null category
TRANSACTION_DATE    10000 non-null int64
DOSAGE_UNIT         10000 non-null float32
dtypes: category(1), float32(1), int64(1)
memory usage: 149.6 KB